@import "tailwindcss";

@layer base {
  body {
    @apply antialiased bg-slate-50 text-slate-800 selection:bg-slate-600 selection:text-white font-sans;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 9999px;
}

.swal2-popup {
  border: 1px solid #e2e8f0 !important;
  border-radius: 16px !important;
}

.swal2-confirm {
  background: #1e293b !important;
  border-radius: 12px !important;
}

.swal2-cancel {
  background-color: #ffffff !important;
  color: #334155 !important;
  border: 2px solid #cbd5e1 !important;
  border-radius: 12px !important;
}
